.modal-content {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
  }

  .ingredient-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ingredient-row {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
  }
  
  .ingredient-row li {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .ingredient-container {
    border: 4px solid rgba(250, 250, 250, 0.9);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 100px 100px 50px rgba(0, 0, 0, 0.9);
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    opacity: 90%;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  .modal-content img {
    opacity: 1;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    border: white, 2px;
    border-color: white;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
  }
  
  .input-percentage-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-percentage {
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

.input-percentage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;  /* Set text color to white */
}

.input-percentage {
  width: 50px; /* Adjust width as needed */
  text-align: right; /* Align text to the right */
  color: white; /* Set input text color to white */
  background-color: transparent; /* Make input background transparent */
  border: none; /* Remove borders if not needed */
  outline: none; /* Remove focus outline */
}